<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge Server</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/top.css">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/828286173700816947/976693328487792651/3_20220519125016.png">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://dnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">

</head>
<body>
    <header class="header-4">
        <div class="header-inner">
            <div class="logo">
                <a href="{{url_for('main')}}"><h1>Lab Knowledge</h1></a>
            </div>
            <nav class="menu-nav">
                <ul>
                    <li><a href="{{url_for('NewText')}}">新規作成</a></li>
                </ul>
            </nav>
            <nav class="header-nav">
                <div class="header-nav-item">
                    <form class="form2">
                        <input type="search" class="form2-input" placeholder="search" />
                        <button class="form2-button"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="header-nav-item">
                    <a href="#" class="setting-a">
                        <img src="/static/img/Setting.png" class="header-setting">
                    </a>
                    <div class="userborder"></div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="contents">
            {% for py_content in datas%}
            <div class="py-content">
                <a href="{{url_for('ronbun',path=py_content['username'],path2=py_content['title'])}}">
                    <div>
                        <h3>{{py_content["title"]}}</h3>
                        <div class="userdata">
                            <p>@{{py_content["username"]}}</p>
                            <p>所属：{{py_content["affiliation"]}}</p>
                        </div>
                        <div class="tags">
                            {% for tag in py_content["tags"]%}
                            <a href="{{url_for('serch_tag',tag=tag)}}"><p>#{{tag}}</p></a>
                            {% endfor %}
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="right-bar"></div>
    </main>
    <bottom></bottom>
</body>
</html>