<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Knowledge Server</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/markdown.css">
    <link rel="stylesheet" href="/static/css/upload.css">
    <script type="text/javascript"　src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        TeX: { equationNumbers: { autoNumber: "AMS" }},
        tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
        },
        "HTML-CSS": { matchFontHeight: false },
        displayAlign: "left",
        displayIndent: "2em"
    });
    </script>
</head>
<body>
    <header class="header-4">
        <div class="header-inner">
            <div class="logo">
                <a href="{{url_for('main')}}"><h1>Lab Knowledge</h1></a>
            </div>
            <nav class="menu-nav">
                <ul>
                    <li><a href="{{url_for('NewText')}}">新規作成</a></li>
                </ul>
            </nav>
            <nav class="header-nav">
                <div class="header-nav-item">
                    <form class="form2">
                        <input type="search" class="form2-input" placeholder="search" />
                        <button class="form2-button"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="header-nav-item">
                    <a href="#" class="setting-a">
                        <img src="/static/img/Setting.png" class="header-setting">
                    </a>
                    <div class="userborder"></div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="upload-form">
            <form action="{{url_for('upload')}}" method="post">
                <div><input type="text" name="title" placeholder="タイトル"></div>
                <div><input type="text" name="username" placeholder="ユーザーネーム"></div>
                <div><input type="text" name="affiliation" placeholder="所属"></div>
                <div id="input_pluralBox">
                    <div id="input_plural">
                        <input type="text" class="form-control" placeholder="タグ" name="tag">
                        <input type="button" value="＋" class="add pluralBtn">
                        <input type="button" value="－" class="del pluralBtn">
                    </div>
                </div>
                <div class="container" id="app">
                    <div class="columns">
                        <div class="column is-6" id="input-field-wrapper">
                            <h2><i class="fas fa-edit"></i> Input</h2>
                            <textarea class="textarea"
                                name="text"
                                id="input-field"
                                v-model="input">
                            </textarea>
                        </div>
                        <div class="column is-6" id="preview-field-wrapper">
                            <h2><i class="fas fa-eye"></i> Preview</h2>
                            <div id="preview-field" class="content" v-html="convertMarkdown"></div>
                        </div>
                    </div>
                </div>
                <input type="submit" class="button">
            </form>
        </div>
    </main>

    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.4.0/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/markdown.js"></script>
    <script type="text/javascript">
        $(document).on("click", ".add", function() {
            $(this).parent().clone(true).insertAfter($(this).parent());
        });
        $(document).on("click", ".del", function() {
            var target = $(this).parent();
            if (target.parent().children().length > 1) {
                target.remove();
            }
        });
    </script>
</body>
</html>